
body,td,.a,div,.p {
	font-family:arial;
	font-size:10px;	
}

.gwt-RadioButton {
	font-family:arial;
	font-size:10px;
	width:50px;
}

.imageFragment-controlpanel {
	font-family:arial;
	font-size:10px;
	border: 1px solid gray;
	background-color: #ffffff;
	filter: alpha(opacity=80);	
	opacity: 0.8;
	z-index:50;
}

.imageFragment-controlpanel-label {
	width:60px;
}

.imageFragment-controlpanel-color-preview {
	width:40px;
	height:15px;
	margin-left:5px;
	margin-bottom: 5px;
}

.imageFragment-controlpanel-color-button {
	margin-right:5px;
	margin-top:5px;
	align:right;
}

.imageAnnotation-user-guide {
	font-size:12px;
}

/* styles for the annotation tree node */
.imageAnnotation-header {
	margin-top:10px;
	height:15px;
}

.imageAnnotation {
	background-color: #ffffff;
}

.imageAnnotation-selected {
	background-color: #FFC800;
}

.imageAnnotation-search {
	font-size:12px;
}
.imageAnnotation-search-term {
	font-family:arial;
	font-size:12px;
}

.imageAnnotation-header-user {
	color: blue;
	font-family:arial;
	font-size:11px;	
	font-weight: bold;
}

.imageAnnotation-header-date {
	color: gray;	
	font-family:arial;
	font-size:10px;	
	padding-left:5px;
}

.imageAnnotation-header-fragment {
	background: url(../images/fragment-small.gif) no-repeat scroll 0px 2px;	
	opacity: 0.5;
	filter: alpha(opacity=50);		
	margin-left:5px;
}

.imageAnnotation-header-map {
	background: url(../images/earth.gif) no-repeat scroll 0px 0px;		
	margin-left:5px;
}

.imageAnnotation-header-rate {
	font-family:arial;
	font-size:11px;	
	font-weight: bold;
	margin-left:5px;
}

.imageAnnotation-header-rate-plus {
	color:green;
	font-family:arial;
	font-size:11px;	
	font-weight: bold;
	margin-left:5px;
}

.imageAnnotation-header-rate-minus {
	color:red;
	font-family:arial;
	font-size:11px;	
	font-weight: bold;
	margin-left:5px;
}

.imageAnnotation-header-rate-image-minus {
	background: url(../images/thumb_down.gif) no-repeat scroll 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);	
	cursor:pointer;	
	margin-left:5px;
	height:18px;	
}

.imageAnnotation-header-rate-image-plus {
	background: transparent url(../images/thumb_up.gif) no-repeat scroll 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);		
	cursor:pointer;	
	margin-left:5px;
	height:18px;
}

.imageAnnotation-header-flag-blue-image {
	background: transparent url(../images/flag-blue.gif) no-repeat scroll 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);		
	cursor:pointer;	
	margin-left:5px;
	height:18px;
	width:18px;	
	border: 0px solid gray;
}

.imageAnnotation-header-flag-red-image {
	background: transparent url(../images/flag-red.gif) no-repeat scroll 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);		
	cursor:pointer;	
	margin-left:5px;
	height:18px;
	width:18px;	
	border: 0px solid gray;
}

.imageAnnotation-private-annotation-image {
	background: transparent url(../images/lock1.gif) no-repeat scroll 0px;
}

.imageAnnotation-text {
	font-family:arial;
	font-size:11px;	
}

.imageAnnotation-title {
	font-family:arial;
	font-size:11px;	
	font-weight: bold;
}

.imageAnnotation-action {
	font-family:arial;
	border-bottom:1px dotted #0033CC;
	color:#0033CC;
	cursor:pointer;
	text-decoration:none;
	margin-right:10px;
	font-size:10px;	
}

.imageAnnotation-action-up-disabled {
	border-bottom:1px dotted gray;	
	color: gray;	
	cursor:text;	
}

.imageAnnotation-actions {
}

/* styles for the annotation composite */
.imageAnnotation-composite {
	font-family:arial;
	font-size:10px;
	border: 1px solid gray;
	background-color: #ffffff;
	width:400px;
	z-index:50;		
}

.imageAnnotation-composite-loading {
	border: 1px solid gray;
	background-color: #ffffff;
	cursor: wait;		
	color: gray;
}

.imageAnnotation-window-bar {
	background-color:#C6D4E4;
	color:#15428B;
	font-family:arial,tahoma, helvetica, sans-serif;
	font-size:12px;	
	font-weight: bold;
	width:100%;
	height:22px;
	text-indent:5px;	
}

.imageAnnotation-window-bar-minmax {
	position:absolute;
	left:360px;
	top:2px;
	width:16px;
	height:14px;
	z-index:5;
	cursor:pointer;
}

.imageAnnotation-window-bar-close {
	position:absolute;
	left:380px;
	top:2px;
	width:16px;
	height:14px;
	z-index:5;
	cursor:pointer;
}

.imageAnnotation-button {
	font-family:arial;
	border-bottom:1px dotted #0033CC;
	color:#0033CC;
	cursor:pointer;
	margin-top:15px;
	margin-right:10px;
	margin-left:5px;
	margin-bottom:15px;
}

.imageAnnotation-button-up-disabled {
	border-bottom:1px dotted gray;	
	color: gray;
	cursor:text;
}

.imageAnnotation-add-annotation {
	font-family:arial;
	color:#15428B;
	font-size:12px;	
	font-weight: bold;
	margin-top:5px;
	margin-left:5px;
	height:20px;	
}

.imageAnnotation-help {
	color:#0033CC;
	position:absolute;
	left:340px;
	font-size:11px;
	top:0px;
}

.imageAnnotation-loading {
	position:absolute;
	left:365px;
	top:5px;
	width:20px;
	height:20px;
}

.imageAnnotation-add-annotation-hint {
	background-color:#E8E8E8;
	color:#15428B;
	font-family:arial;
	font-size:12px;
	margin-top:10px;
	margin-left:5px;	
	width: 380px;
}
/* styles for the annotation form */
.imageAnnotation-form {
	z-index:100;
    background-color:#E8E8E8;
}

.imageAnnotation-form-title-label {
	font-family:arial;
	font-size:10px;
	margin-left:5px;
	margin-top:10px;	
}
.imageAnnotation-form-title {
	height:16px;
	margin-left:10px;
	width:300px;
	font-family:arial;
	font-size:10px;
	margin-top:10px;		
}
.imageAnnotation-form-text-label {
	font-family:arial;
	font-size:10px;
	margin-left:5px;
}
.imageAnnotation-form-scope-label {
	font-family:arial;
	font-size:10px;
	margin-left:5px;
}
.imageAnnotation-form-radiobutton {
	font-family:arial;
	font-size:10px;
	width:50px;
	margin-left:30px;
}
.imageAnnotation-form-text {
	margin-left:10px;
	width:300px;
	font-family:arial;
	font-size:10px;
	height:80px;
}
.imageAnnotation-form-button {	
	border-bottom:1px dotted #0033CC;
	color:#0033CC;
	cursor:pointer;
	text-decoration:none;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:10px;
}

/* styles for the search result table */
TABLE.sortableTable TD  {
	border-bottom:solid #93BEE2 0px;
	BORDER-RIGHT:0px solid #93BEE2;
	border-left:0px solid #93BEE2;
	border-top:0px solid #93BEE2;
}
.tableHeader{
	font-family:tahoma,sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	background: #33435A;
}

.headerStyle{
	font-family:tahoma,sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	cursor:hand;
 }

.tableRowOdd {
	font-family:tahoma,sans-serif;
	font-size:11px;
	color:#000000;
	background: #FFFFFF;
}

.tableRowEven {
	font-family:tahoma,sans-serif;
	font-size:11px;
	color:#000000;
	background: #E8E8E8;
}

.imageAnnotation-searchresult-window-bar-close {
	position:absolute;
	left:782px;
	top:1px;
	width:16px;
	height:14px;
	cursor:pointer;
	z-index:5;
}

.imageAnnotation-searchresult-window-bar-minmax {
	position:absolute;
	left:762px;
	top:1px;
	width:16px;
	height:14px;
	cursor:pointer;
	z-index:10;
}

.imageAnnotation-searchresult-composite {
	border: 1px solid gray;
	background-color: #ffffff;
	z-index:5;
}

.imageAnnotation-popup-search {
	z-index:50;
}

.mapAnnotation-window-bar-close {
	position:absolute;
	left:482px;
	top:1px;
	width:16px;
	height:14px;
	cursor:pointer;
	z-index:5;
}

.mapAnnotation-window-bar-minmax {
	position:absolute;
	left:462px;
	top:1px;
	width:16px;
	height:14px;
	cursor:pointer;
	z-index:5;
}

.mapAnnotation-composite {
	border: 1px solid gray;
	background-color: #ffffff;
	z-index:50;
}

.imageAnnotation-popup-map {
	z-index:50;
}

.imageAnnotation-map {
	z-index:100;
}

/* overwrite gwt-dnd.css */
.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
  filter: alpha(opacity = 100) !important;
  opacity: 1 !important;
}

.dragdrop-positioner {
  border: 0px dashed #1E90FF !important; /* blue */
}
	