body {
	color:#000;	
	background-color:#e2e2e2;
}

.header h1 {
	width:800px;
	padding-bottom:31px;
}

.navigation {
	width:800px;	
}

.content {
	text-align:left;
	margin:0px auto 30px auto;
	padding:0px 20px 20px 20px;
	width:770px;
	background-color:#fff;
	border:1px solid #cecece;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.content h3 {
	color:#790b1a;
	font-family:"Trebuchet MS", "Lucida Sans", "Verdana";
	font-size:16px;
	margin-top:35px;
	margin-bottom:0px;
}

.content h4 {
	color:#000
	margin-top:20px;
	margin-bottom:0px;
}


.content p {
	margin:10px 0px;
	padding-top:3px;
}

.content ul {
	margin-top:5px;
	list-style-type:square;
}

.content li {
	margin-bottom:5px;
}

.content a {
	color:#790b1a;
}

.content a:visited {
	color:#790b1a;
}

.content .code {
	font-family:"Courier New";
	font-weight:bold;
}

.content .caption {
	display:block;
	width:770px;
	text-align:center;
	font-weight:bold;
}
