<br />
	<div id="footer">
		<center>
			<p>&copy; 2010 Deutsche Nationalbibliothek / German National Library. All rights reserved.<br />
			Developed for <a href="http://europeanaconnect.eu" target="_blank"> EuropeanaConnect</a></p>
			<p>Build date: 20100625</p>
		</center>
	</div>
	<!-- end #footer -->
</body>
</html>