<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2007 EDL FOUNDATION
  ~
  ~ Licensed under the EUPL, Version 1.0 or as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~ you may not use this work except in compliance with the
  ~ Licence.
  ~ You may obtain a copy of the Licence at:
  ~
  ~ http://ec.europa.eu/idabc/eupl
  ~
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>SolrServiceImpl</servlet-name>
        <servlet-class>eu.europeana.web.timeline.server.SolrServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SolrServiceImpl</servlet-name>
        <url-pattern>/eu.europeana.web.timeline.GwtCoverFlow/json.rpc</url-pattern>
    </servlet-mapping>
</web-app>